  <!-- Main Content Container End -->
</div> <!-- Closing container div from header.ejs -->


<div class="footer">
  <p>Made with ❤️ by John Mark</p>
</div>

<!-- Closing body and html tags -->
</body>
</html>
