<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" style="color: black;">DAILY JOURNAL</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/home">HOME</a></li>
        <li id="compose"><a href="/compose">COMPOSE</a></li>
        <li id="contact"><a href="/profile">PROFILE</a></li>
      </ul>
    </div>
  </nav>

  <!-- Main Content Container Start -->
  <div class="container">
